.dialog-title {
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 5px;
}

.dialog-content {
  max-height: 70vh;
  overflow-y: auto;
}

.panel-body {
  padding: 10px 0;
}

mat-expansion-panel {
  margin-bottom: 8px;
  border-radius: 8px !important;
}

mat-expansion-panel-header {
  font-weight: 500;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* or as needed */
}

/* 
 */

.order-preview-container {
  padding: 16px;
  position: relative;
  background: #f8faff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.small-table {
  width: 100%;
  font-size: 14px;
}

.mat-mini-fab {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
