<table mat-table [dataSource]="carousel$ | async" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- ImageUrl Column -->
  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let element">
      <img
        [src]="element.imageUrl"
        alt="{{ element.description }}"
        width="100"
      />
    </td>
  </ng-container>

  <!-- URL Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef>Redirect Page</th>
    <td mat-cell *matCellDef="let element">
      <a [href]="element.url" target="_blank">{{ element.url }}</a>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        aria-label="View"
        (click)="viewCarousel(element)"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        aria-label="Delete"
        (click)="deleteCarousel(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-fab class="fab-button" (click)="onAddClick()">
  <mat-icon>add</mat-icon>
  <span>Add</span>
</button>
