<!-- <p>sidebar works!</p> -->
<!-- <nav>
  <ul>
    <li>
      <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/admin/category" routerLinkActive="active">Category</a>
    </li>
    <li>
      <a routerLink="/admin/product" routerLinkActive="active">Products</a>
    </li>
  </ul>
</nav> -->

<nav class="bg-light border-end vh-100 p-3">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a
        routerLink="/adminMod/dashboard"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded hover-bg"
      >
        <span class="material-icons">dashboard</span>
        Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="/adminMod/category"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded hover-bg"
      >
        <span class="material-icons">category</span>
        Category
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="/adminMod/addNewProducttemp"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded hover-bg"
      >
        <span class="material-icons">add_circle</span>
        Add Product
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        routerLink="/adminMod/producttemp"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded hover-bg"
      >
        <span class="material-icons">inventory_2</span>
        Products
      </a>
    </li>
  </ul>
</nav>

<!-- <nav class="bg-light border-end vh-100 p-3">
  <ul class="nav flex-column gap-2">
    <li class="nav-item">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center rounded px-3 py-2"
      >
        <span class="material-icons me-2">dashboard</span>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/admin/category"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center rounded px-3 py-2"
      >
        <span class="material-icons me-2">category</span>
        Category
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/admin/product"
        routerLinkActive="active"
        class="nav-link d-flex align-items-center rounded px-3 py-2"
      >
        <span class="material-icons me-2">inventory_2</span>
        Products
      </a>
    </li>
  </ul>
</nav> -->
